$breakpoints: (
	xl: 1500px,
	l: 1200px,
	m: 1024px,
	s: 770px,
	xs: 500px,
);

$textColor: rgb(220, 227, 223);
$primaryColor: rgb(70, 187, 173);
$secondaryColor: rgb(85, 185, 165);
$secondaryBackgroundColor: rgb(40, 47, 44);
